{% extends 'base.html' %}

{% block content %}

<div class="container">
	<div class="p-4 m-4">
		<div class="col-lg-5 mx-auto border rounded pt-4">
			<h4 class="alert alert-light border rounded">Create an Account</h4>

			<form action="{%url 'signup'%}" method="POST" >
				{% csrf_token %}
				
				{% if error %}
				<div class="alert alert-danger" role="alert">
					{{error}}
				</div>
				{% endif %}
				
				<div class="form-group">
					<label for="firstname">First Name</label>
					<input type="text" name="firstname" id="" value="{{values.first_name}}" class="form-control">
				</div>

				<div class="form-group">
					<label for="lastname">Last Name</label>
					<input type="text" name="lastname" id="" value="{{values.last_name}}" class="form-control">
				</div>

				<div class="form-group">
					<label for="phone">Phone</label>
					<input type="text" name="phone" id="" value="{{values.phone}}" class="form-control" placeholder="5552524525">
				</div>

				<div class="form-group">
				  <label for="email">Email</label>
				  <input type="email" name="email" id="" value="{{values.email}}" class="form-control"
				   placeholder="example@gmail.com">
				</div>

				<div class="form-group">
				  <label for="password">Password</label>
				  <input type="password" name="password" id="" class="form-control"
				   placeholder="************************">
				</div>

				<div class="form-group">
					<input class="btn btn-sm btn-info" type="submit" value="Create An Account">
				</div>
				
			</form>
		</div>
	</div>
</div>


{% endblock content %}